export MONGO_URI=mongodb+srv://hardware_app_user:hardware_app_password@cluster0.log6yq3.mongodb.net/?appName=Cluster0
export USERAUTH_GRPC_ADDR=user-service.politesky-57421525.centralus.azurecontainerapps.io:443
export USERAUTH_GRPC_TLS=true